.new-task{
    border: solid 1px #dee2e6;
    border-radius: 8px;
}.task-form{

    padding: 30px;

}.padding-item{

    width: auto;
    padding: 20px 0px 20px 0px;
}:host::ng-deep .p-dropdown{
    display: flex;
    width: 100%;
    max-width: 600px;
}:host::ng-deep .p-inputtext{
    display: flex;
    width: 100%;
    max-width: 600px;
}